@font-face {
  font-family: "Nunito-Regular";
  src: url("../public/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../public/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../public/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("../public/fonts/Nunito-ExtraBold.ttf");
}