@import './_fonts.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito-Regular", sans-serif;
  background-color: antiquewhite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.vh{
  height: 100vh;
}

.h100{
  height: 100%;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.content-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-grow{
  flex-grow: 1;
}

.pointer{
  cursor: pointer
}