.profile{
  max-width: 400px;
  &__frame{
    padding: 20px 30px;
  }
  &__cell{
    padding: 10px;
  }
  &__h5{
    font-size: 17px;
  }
  &__span{
    font-size: 15px;
  }
  &__desc{
    padding: 0 10px;
  }
  &__change_row{
    padding: 5px 0;
  }
  &__change_input{
    margin-right: 7px;
  }
}