.room_card{
  padding: 12px;
  &__frame{
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
  }
  &__h4{
    font-size: 15px;
  }
  &__avatar{
    min-width: 45px;
  }
  &__image{
    &>:nth-child(1){
      transform: translateY(0);
    }
    &>img:nth-child(2){
      transform: translateY(-50%);
    }
    &>img:nth-child(3){
      transform: translateY(-100%);
    }
    &>img:nth-child(4){
      transform: translateY(-150%);
    }
    &>img:nth-child(5){
      transform: translateY(-200%);
    }
    &>img:nth-child(even){
      align-self: flex-end;
    }
  }
  &__desc{
    padding-left: 13px;
  }
  &__name{
    padding-bottom: 7px;
  }
  &__speaker{
    line-height: 1.3;
  }
  &__icon{
    padding-left: 20px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
    }
  }
  &__people{
    &::before{
      background-image: url("../../public/svg/user.svg");
    }
  }
  &__message{
    &::before{
      background-image: url("../../public/svg/chat.svg");
    }
  }
}